.contenedor-tabla {
    width: 95%;
    margin: auto;
    margin-top: 30px;
}

.card-body {
    padding: 0px 0px 30px 0px;
}

/* Checkbox */
/* Customize the label (the container) */
.lbl-chk {
    display: block;
    position: relative;
    /*padding-left: 35px;
  margin-bottom: 12px;*/
    cursor: pointer;
    /*font-size: 22px;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .lbl-chk input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid #78B928;
    border-radius: .25rem;
}

.checkmarkTransparente {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: .25rem;
}

/* On mouse-over, add a grey background color */
.lbl-chk:hover input ~ .checkmark {
    background-color: #AFDD77;
}

/* When the checkbox is checked, add a blue background */
.lbl-chk input:checked ~ .checkmark {
    background-color: #78B928;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.lbl-chk input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.lbl-chk .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* Checkbox */

.label-tabla {
    font-family: 'Gotham Rounded Bold';
    font-style: normal;
    font-size: 12px;
    color: #696969;
    padding-right: 5px;
    height: 20%;
}

.buscar-tabla {
    border: 1px solid #78B928;
    border-radius: .25rem;
    background-color: #FFF;
}



    .buscar-tabla:focus {
        border: 2px solid #78B928;
        box-shadow: none;
    }

td {
    font-family: 'Gotham Rounded Bold';
    font-style: italic;
    font-size: 12px;
}

th {
    font-family: 'Gotham Rounded Light';
    font-style: normal;
    font-size: 12px;
    color: #FFF;
}

.encabezado-tabla {
    background-color: #484D4F;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}

table tr:nth-child(odd) {
    top: 10px;
}

table tr:nth-child(even) {
    margin: 5px 0px 5px 0px;
}

.table-bordered th {
    border: none;
}

tbody {
    background-color: #FFF;
    border: none;
}


