
@{
    ViewData["Title"] = "Titulo";
}

<div class="modal fade" id="modalUno" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="container">
                    <div class="row">


                        <div class="col-md-12">
                            <label class="label-tabla">Campo1:</label><br>
                            <label style=" width: 100% ;">
                                <input type="text" class="form-control form-control-sm buscar-tabla" placeholder="" >
                            </label>
                        </div>


                        <div class="col-md-12">
                            <label style=" width: 100% ;">
                                <br>
                                <button style=" width: 100% ;" class="filtro-btn btn-buscar" type="button"
                                        >
                                    Accion1
                                </button>
                            </label>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>

